# Dependencies
node_modules/
.pnpm-store/

# Production Build outputs
dist/
build/
out/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.lock
index.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
